<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HERO LIST</title>
</head>

<body>
    <h1>
        <%= heroes.title %>
    </h1>

    <table>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>role</th>
        </tr>
        <% for (let i=0 ; i < heroes.data.length; i++) { %>
            <tr>
                <td>
                    <%= heroes.data[i].id %>
                </td>
                <td>
                    <%= heroes.data[i].name %>
                </td>
                <td>
                    <%= heroes.data[i].role %>
                </td>
            </tr>
            <% } %>
    </table>
</body>

</html>